<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Кушаем много, кушаем вкусно</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet"/>
    <style>
        body {
            margin: 0; /* Убираем отступы */
            height: 100%;
            background-image: url(images/foto.jpg); /* Путь к фоновому изображению */
            background-position: center;
            background-size: cover;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" style="font-size: 40px; font-family: 'Great Vibes', cursive;" asp-area="" asp-controller="Home" asp-action="Index"><b>EatingDaily</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                    <ul class="navbar-nav flex-grow-1">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Рацион</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="RequestDiet">Рацион</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark " asp-area="" asp-controller="Home" asp-action="Source">Источники</a>
                        </li>
                        @if (!User.Identity.IsAuthenticated)
                         {
                            <li class="nav-item">
                                <a class="nav-link text-dark" style="text-align:right;" asp-area="" asp-controller="Account" asp-action="Login">Авторизация</a>
                            </li>
                         }
                         else
                         {
                            <li class="nav-item">
                                <a class="nav-link text-dark @*right-zabiv*@" style="text-align:right;" asp-area="" asp-controller="User" asp-action="Index"><b>Профиль</b></a>
                            </li>
                         }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">

        <div class="container">
            <style>
                footer {
                    background: white;
                }
            </style>
            &copy; 2001-2021 <a  asp-area="" asp-controller="Home" asp-action="">EatingDaily Entertainment </a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
