@model EatingDaily.Storage.ViewModels.LoginModel

@{
    ViewData["Title"] = "Авторизация";
}

<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="~/css/style-sign.css">
    <style>
        body {
            background-image: url(../images/foto.jpg); /* Путь к фоновому изображению */
        }
    </style>
</head>
<body>
    <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true" class="Login">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div>
            
            <h1 style="font-family: 'Caveat', cursive;  font-size: 60px; color: black;">Авторизация</h1>
            <div class="form-group">
                <input type="text" asp-for="Email" placeholder="Логин" />
                <span asp-validation-for="Email" />
            </div>
            <div class="form-group">
                <input type="password" asp-for="Password" placeholder="Пароль" />
                <span asp-validation-for="Password" />
            </div>
            <div class="form-group">
                <input type="submit" value="Войти" class="btn btn-outline-dark" />
                <a class="Registr" href="Register">Регистрация</a>
            </div>
        </div>
    </form>
</body>

</html>