@model IEnumerable<EatingDaily.Storage.Entity.Diet>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Дневники</title>
    <link rel="stylesheet" href="~/css/diary.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <style>
        body {
            margin: 0; /* Убираем отступы */
            height: 100%;
            background-image: url(../images/2.jpg); /* Путь к фоновому изображению */
            background-position: center;
            background-size: cover;
        }
    </style>
</head>
<body>


    <link rel="stylesheet" href="~/css/Style-new.css" />
    <div class="polyproz" style="padding: 40px;">
        <strong> <p style="font-size: 50px; text-align: center; font-family: 'Caveat', cursive;" <h1>  Дневники пользователя </h1></p></strong></p>
        <hr align="center" width="950" size="1" color=black />
        <div class="table" style="border:none;">
            <tr>
                <td>Название</td>
                <td>Описание</td>
                <td><a href="AddDiet">Добавить дневник</a></td>
            </tr>
            @foreach (var user_data in Model)
            {
                <tr>
                    <td style="width:150px;
									 word-break: break-all">
                        @user_data.Name
                    </td>
                    <td style="width:150px;
									 word-break: break-all">
                        @user_data.Description
                    </td>
                    <td>
                        <a asp-action="Show_Entry" asp-route-id="@user_data.ID" class="Edit">Изменить</a>
                        <a asp-action="DeleteDiet" asp-route-id="@user_data.ID" class="Delete">Удалить</a>
                    </td>
                </tr>
            }
        </div>
        <hr align="center" width="950" size="1" color=black />
    </div>
</body>

</html>
