@{
    ViewData["Title"] = "Ration";
}
<h1>@ViewData["Title"]</h1>
<style>
    body {
        background-image: url(../images/foto.jpg); /* Путь к фоновому изображению */
    }
</style>
<p>Здесь будут рационы</p>
