@{
    ViewData["Title"] = "Полезные ссылки!";
}



<style>
    h1 {
        margin-bottom: 40px;
    }
</style>
<style>
    body {
        margin: 0; /* Убираем отступы */
        height: 100%;
        background-image: url(../images/3.jpg); /* Путь к фоновому изображению */
        background-position: center;
        background-size: cover;
    }
</style>


<link rel="stylesheet" href="~/css/style-sourse.css" />
<div class="polyproz" style="color:black;">
    <big><h1 style="text-align: center; opacity: unset"><b>@ViewData["Title"]</b> </h1></big>
    <div style="margin-left: 30px; padding: 20px;">
        <p>
            <a class="blank" href="https://vkusvill.ru/">Не вкусная, но полезная еда тут!</a>
        </p>
        <p>
            <a class="mac" href="https://mcdonalds.ru/">Вкусная, но не полезная еда тут!</a>
        </p>
    </div>
    
</div>

