@{
    ViewData["Title"] = "Полезные ссылки!";
}
<style>
    h1 {
        color: darkslategrey;
        margin-bottom: 40px;
    }
</style>
<big><h1 >   @ViewData["Title"] </h1></big>
<h2> </h2>

<link rel="stylesheet" href="~/css/style-sourse.css" />
<p>

    <a  class="blank" href="https://vkusvill.ru/">  Не вкусная, но полезная еда тут!</a>

</p>
<p>
    <a  class="mac" href="https://mcdonalds.ru/">Вкусная, но не полезная еда тут!</a>
</p>

