/*Авторизация*/
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #a8f0fc; /* Путь к фоновому изображению */
    text-decoration-color: white;
}

.Login {
    width: 400px;
    padding: 40px;
    text-decoration-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #a8f0fc;
    text-align: center;
    border-radius: 20px;
}

    .Login input[type="text"], .Login input[type="password"] {
        border: 0;
        background: #a8f0fc;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid white;
        padding: 14px 10px;
        width: 200px;
        outline: none;
        color: black;
        border-radius: 24px;
        transition: 0.25s;
        text-decoration-color: black;
    }

.Login h1 {
    color:white;
    text-align:center;
    font-weight:300;
}

    .Login input[type="text"]:focus, .Login input[type="password"]:focus {
        width: 280px;
        border-color: #FFE8C5;
    }

    .Login input[type="submit"] {
        border: 0;
        background: #a8f0fc;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid white;
        padding: 14px 10px;
        width: 120px;
        outline: none;
        color: black;
        border-radius: 24px;
        transition: 0.25s;
        text-decoration-color: black;
    }
.Registr {
    color: black;
    font-size: 14px;
    text-decoration: none;
    text-decoration-color: black;
}
    .Registr:hover {
        color: black;
        text-decoration-color: black;
    }


.Login input[type="submit"]:hover {
    background: #a8f0fc;
    color: white;
    text-decoration-color: white;
}
/*Авторизация\*/