


/*Фон*/
.mainstr {
    background-color: rgba(235, 245, 252, .75);
    border-radius: 20px;
    border: 4px black;
    text-align: center;
    text-decoration: none;
    color: black;
}

.user {
    position: relative center;
    display: flex;
   
    justify-content: space-around;
    align-items: center;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: #C4C4C4;
    border-radius: 50%;
}

.user-content {
   
    font-size: 24px;
    font-family: 'Montserrat';
    color: #000;
}

.user-name input[type="text"] {
    font-size: 20px;
    font-family: 'Montserrat';
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #023140;
    background-color: #FFE8C5;
    padding: 14px 10px;
    width: 400px;
    outline: none;
    color: #303030;
    border-radius: 24px;
    transition: 0.25s;
}

.user-surname input[type="text"] {
    background: none;
    font-size: 20px;
    font-family: 'Montserrat';
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #023140;
    background-color: #FFE8C5;
    padding: 14px 10px;
    width: 400px;
    outline: none;
    color: #303030;
    border-radius: 24px;
    transition: 0.25s;
}

.user-telephone input[type="text"] {
    background: none;
    font-size: 20px;
    font-family: 'Montserrat';
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #023140;
    background-color: #FFE8C5;
    padding: 14px 10px;
    width: 400px;
    outline: none;
    color: #303030;
    border-radius: 24px;
    transition: 0.25s;
}

.user-age input[type="text"] {
    background: none;
    font-size: 20px;
    font-family: 'Montserrat';
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #023140;
    background-color: #FFE8C5;
    padding: 14px 10px;
    width: 400px;
    outline: none;
    color: #303030;
    border-radius: 24px;
    transition: 0.25s;
}

.user-sub input[type="submit"] {
    background: none;
    font-size: 20px;
    font-family: 'Montserrat';
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #023140;
    background-color: #FFE8C5;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #303030;
    border-radius: 24px;
    transition: 0.25s;
}

    .user-sub input[type="submit"]:hover {
        color: #000;
        background-color: #FFE8C5;
        text-decoration: underline;
    }
.logout {
    background: none;
    font-size: 20px;
    font-family: 'Montserrat';
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #023140;
    background-color: #FFE8C5;
    padding: 14px 10px;
    width: 100px;
    outline: none;
    color: #303030;
    border-radius: 24px;
    transition: 0.25s;
}


    .logout:hover {
        color: #000;
        background-color: #FFE8C5;
    }

