.blank {
    color: black;
    font-size: 20px;
}
    .blank:hover {
        transition: 0.25s;
        color: black;
        text-decoration: underline;
     }
.mac {
    color: black;
    font-size: 20px;
}

    .mac:hover {
        transition: 0.25s;
        color: black;
        text-decoration: underline;
    }

    h1 .polyproz{
        text-align: center;
    }

.polyproz {
    background-color: rgba(235, 245, 252, .88);
    border-radius: 20px;
    border: 4px black;
    text-align: left;
    text-decoration: none;
    color: black;
}
    


