.blank {
    color: black;
    font-size: 20px;
}
    .blank:hover {
        transition: 0.25s;
        color: black;
        text-decoration: underline;
     }
.mac {
    color: black;
    font-size: 20px;
}

    .mac:hover {
        transition: 0.25s;
        color: black;
        text-decoration: underline;
    }


